<div id="results-container">

  <% if @cocktails.length != 0 %>
    <h1>How about a...</h1>
      <ul>
      <% @cocktails.each do |cocktail| %>
        <li><a class='result-list-item' href="/cocktails/<%=cocktail.id%>" id="cocktail-<%=cocktail.id%>"><%=cocktail.name%></a></li>
        <div id="cocktail-<%=cocktail.id%>">
        </div>
      <br><br>
      <% end %>
      </ul>
  <% else %>
    <h1>Sorry, no results for: '<%=@search_query.gsub('%20', ' ')%>.'</h1>
  <% end %>

</div>
