<div id="drink-description-container">
<h1><%=@cocktail.name%></h1>
<ul>
  <li>Contains Alcohol?: <%=@cocktail.isAlcoholic%></li>
  <li>Ingredients:</li>
  <ul>
  <%@cocktail.ingredients.each do |ingredient|%>
    <li><%=ingredient%></li>
  <%end%>
  </ul>
  <li><%=@cocktail.description%></li>
</ul>
<% if logged_in? && @cocktail.favorites.where(user_id: current_user.id).length == 0 %>
  <form action="/favorites" method="post">
    <input type="hidden" name=cocktail_id value="<%=@cocktail.id%>">
    <input type="submit" value="Favorite this Drink">
  </form>
<% end %>
</div>